<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>txtMessageCategory</key>
	<string>txt_message_category</string>
	<key>shareImage</key>
	<string>txt_share_image</string>
	<key>shareUrl</key>
	<string>txt_share_url</string>
</dict>
</plist>
